.bgFadeIn {
      animation: 1s ease-in 0s 1 normal both running bgFadeIn
}

.bgFadeOut {
      animation: 1s ease-out 0s 1 normal both running bgFadeOut
}

.fadeIn {
      animation: 2s ease-in 2s 1 normal both running fadeIn
}

.fadeOut {
      animation: 2s ease-out 0s 1 normal forwards running fadeOut;
}


@keyframes bgFadeIn {
      from {

            background-color: rgba(0, 0, 0, 100%);
      }

      to {

            background-color: rgba(0, 0, 0, 0);
      }
}

@keyframes bgFadeOut {
      from {

            background-color: rgba(0, 0, 0, 0);
      }

      to {

            background-color: rgba(0, 0, 0, 100%);
      }
}

@keyframes fadeIn {
      from {
            opacity: 0;
            visibility: hidden;
      }

      to {
            opacity: 1;
            visibility: visible;
      }
}

@keyframes fadeOut {
      from {
            opacity: 1;
            visibility: visible;
      }

      to {
            opacity: 0;
            visibility: hidden;
      }
}

@keyframes fadeInEnd {
      from {
            opacity: 0;
            visibility: hidden;
            padding-bottom: 40px;
      }

      to {
            opacity: 1;
            visibility: visible;
            padding-bottom: 0px;
      }
}

@keyframes fadeOutEnd {
      from {
            opacity: 1;
            visibility: visible;
      }

      to {
            opacity: 0;
            visibility: hidden;
      }
}