body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Plump;
  font-weight: 400;
  src: url('./font/Plump.ttf') format("truetype")
}

@font-face {
  font-family: Plump;
  font-weight: 700;
  src: url('./font/Plump.ttf') format("truetype")
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
code,
input,
select,
option,
button,
textarea {
  font-family: Plump;
  text-shadow: -1px 1px 0 #fff,
  1px 1px 0 #fff,
 1px -1px 0 #fff,
-1px -1px 0 #fff;
}

input,
select,
option,textarea {
  font-size: 20px;
  color: black;
}
label{
  font-size: 40px;
}
p {
  font-size: 40px;
}

button {
  border: 0;
  background-color: transparent;
  font-size: 30px;
  color: black;
}