
.load-image-bg-1 {
      /* display: none; */
      animation: keyframe-background-1 1s;
}

.load-image-bg-2 {
      /* display: none; */
      animation: keyframe-background-2 1s;
}

.load-image-bg-3 {
      /* display: none; */
      animation: keyframe-background-3 1s;
}

.load-image-bg-4 {
      /* display: none; */
      animation: keyframe-background-4 1s;
}

.load-image-bg-5 {
      /* display: none; */
      animation: keyframe-background-5 1s;
}

.load-image-bg-6 {
      /* display: none; */
      animation: keyframe-background-6 1s;
}

.load-image-bg-7 {
      /* display: none; */
      animation: keyframe-background-7 1s;
}

.load-image-bg-8-bts {
      /* display: none; */
      animation: keyframe-background-8-bts 1s;
}

.load-image-bg-8-motorcycle {
      /* display: none; */
      animation: keyframe-background-8-motorcycle 1s;
}

.load-image-bg-8-walk {
      /* display: none; */
      animation: keyframe-background-8-walk 1s;
}

.load-image-bg-9 {
      /* display: none; */
      animation: keyframe-background-9 1s;
}

.load-image-bg-10 {
      /* display: none; */
      animation: keyframe-background-10 1s;
}

.load-image-bg-11 {
      /* display: none; */
      animation: keyframe-background-11 1s;
}

.load-image-bg-12 {
      /* display: none; */
      animation: keyframe-background-12 1s;
}

.load-image-bg-13 {
      /* display: none; */
      animation: keyframe-background-13 1s;
}

.load-image-bg-14 {
      /* display: none; */
      animation: keyframe-background-14 1s;
}

.load-image-bg-15 {
      /* display: none; */
      animation: keyframe-background-15 1s;
}

.load-image-bg16 {
      /* display: none; */
      animation: keyframe-background16 1s;
}

.load-image-bg-17 {
      /* display: none; */
      animation: keyframe-background-17 1s;
}

.load-image-bg-18 {
      /* display: none; */
      animation: keyframe-background-18 1s;
}

.load-image-bg-19 {
      /* display: none; */
      animation: keyframe-background-19 1s;
}

.load-image-bg-20 {
      /* display: none; */
      animation: keyframe-background-20 1s;
}

.load-image-bg-21 {
      /* display: none; */
      animation: keyframe-background-21 1s;
}

.load-image-bg-22 {
      /* display: none; */
      animation: keyframe-background-22 1s;
}

.load-image-bg-23 {
      /* display: none; */
      animation: keyframe-background-23 1s;
}

.load-image-bg-24 {
      /* display: none; */
      animation: keyframe-background-24 1s;
}

.load-image-bg-25 {
      /* display: none; */
      animation: keyframe-background-25 1s;
}

.load-image-bg16 {
      /* display: none; */
      animation: keyframe-background16 1s;
}

.load-image-bg-27 {
      /* display: none; */
      animation: keyframe-background-27 1s;
}

.load-image-bg-28 {
      /* display: none; */
      animation: keyframe-background-28 1s;
}

.load-image-bg-29 {
      /* display: none; */
      animation: keyframe-background-29 1s;
}

.load-image-bg-30 {
      /* display: none; */
      animation: keyframe-background-30 1s;
}

.load-image-bg-31 {
      /* display: none; */
      animation: keyframe-background-31 1s;
}

.load-image-bg-32 {
      /* display: none; */
      animation: keyframe-background-32 1s;
}

.load-image-bg-33 {
      /* display: none; */
      animation: keyframe-background-33 1s;
}